@import "tailwindcss/base";

@import "tailwindcss/components";
/*@import "components.css";*/

@import "tailwindcss/utilities";
/* @import "utilities.css"; */
/*  */

div.container {
  background: rgba(0, 0, 0, 0.68);
}

video.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%); }
