<div class="container mx-auto text-yellow-400">
  <div class="flex justify-center">
    <h1 class="text-2xl">dxdf</h1>
  </div>
  <div>
    <h1 class="text-xl">TIMETABLE</h1>
    <h2>All times shown in <span class="timezone-name"></span> time.</h2>
    <table id="schedule" class="table table-bordered">
      <tbody>
        {{#each model as |show|}}
          <tr>
            <td>{{show.title}}</td>
            <td>{{format-date show.start}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<video
        src="https://dongles.streampusher-relay.club/dxdf_processed.mp4"
        class="fullscreen"
        autoplay
        muted
        loop
        >
</video>
